<div data-hook="admin_property_form" class="align-center row">
  <div class="col-6">
    <%= f.field_container :name do %>
      <%= f.label :name, class: 'required' %><br>
      <%= f.text_field :name, class: 'fullwidth' %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>
  <div class="col-6">
    <%= f.field_container :field_type do %>
      <%= f.label :field_type, class: 'required' %><br>
      <%= f.select :field_type, Spree::Property.field_types.keys.map { |type| [type.humanize, type] }, { include_blank: 'Select Type' }, class: 'form-control', required: true %>
      <%= f.error_message_on :field_type %>
    <% end %>
  </div>
  <div class="col-6">
    <%= f.field_container :presentation do %>
      <%= f.label :presentation, class: 'required' %><br>
      <%= f.select :presentation, Spree::Property.presentations.keys.map { |type| [type.humanize, type] }, { include_blank: 'Select Type' }, class: 'form-control', required: true %>
      <%= f.error_message_on :presentation %>
    <% end %>
  </div>
  <div class="col-2">
    <%= f.field_container :logo do %>
      <%= f.label :logo, class: 'required' %><br>
      <%= f.file_field :logo, accept: '.jpg, .jpeg, .png' %>
      <%= f.error_message_on :logo, accept: '.jpg, .jpeg, .png' %>
    <% end %>
  </div>
</div>
