<style>
.roles_main{
  margin-top: 40px;
}
</style>

<% admin_breadcrumb("Templates") %>

<% content_for :page_actions do %>
  <% if can?(:admin, Spree.user_class) && can?(:create, Spree.user_class) %>
    <li>
      <%= link_to 'New Template', new_admin_template_url, id: 'admin_new_user_link', class: 'btn btn-primary' %>
    </li>
  <% end %>
<% end %>

<table class="index roles_main" id="listing_users" data-hook>
  <colgroup>
    <col style="width: 50%">
    <col style="width: 50%">
  </colgroup>
  <thead>
    <tr data-hook="admin_users_index_headers">
      <th class="align-left">Name</th>
      <th class="align-left">Description</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @templates.each do |template| %>
      <tr data-hook="">
        <td><%= template.name %></td>
        <td><%= template.description %></td>
       <td data-hook="admin_users_index_row_actions" class="actions">
          <% if can?(:edit, template) %>
            <%= link_to_edit template, no_text: true, url: edit_admin_template_path(template)  %>
          <% end %>
          <% if can?(:destroy, template) %>
            <%= link_to_delete template, no_text: true, url: spree.admin_template_path(template) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>